.propertynew2{
    width: 500px;
    height: 2300px;
    border: 0px solid #dedede;
    border-radius: 1px;
    margin: auto;
    text-align: justify;
    
}
.img1{
    width: 500px;
    height: 200px;
    padding-top: 10px;
}
